{ "extends": "eslint:recommended", 
    "env": {
        "browser": true
    },
    "parser": "babel-eslint",
    "rules": { 
        "indent":[
            "error",
            4
        ],
        "no-unused-vars": 1,
        "no-use-before-define": 1,
        "no-redeclare": 1,
        "no-console":0
     }
    }
