<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>KimchiHorse</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/img/icon.png" />
<body class="bg-dark">
  <div class="p-3 h-100 d-flex flex-column">
    <div class="container">
      <div class="row">
        <p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#showChart" role="button" aria-expanded="false"
            aria-controls="showChart">
            도미/김프 차트
          </a>
        </p>
        <div class="collapse" id="showChart">
          <div class="card card-body bg-dark mb-2">
            <div class="row">
              <div class="col-sm">
                <!-- 도미차트 -->
                <div class="tradingview-widget-container" style="height: 20rem;">
                  <div id="tradingview_a9577" style="height: 95%;"></div>
                  <div class="text-white text-center">BTC 도미네이션</div>
                </div>
              </div>
              <!-- 도미차트 -->
              <div class="col-sm">
                <!-- 김프차트 -->
                <div class="tradingview-widget-container" style="height: 20rem;">
                  <div id="tradingview_155c3" style="height: 95%;"></div>
                  <div class="text-white text-center">김치프리미엄</div>
                </div>
              </div>
              <!-- 김프차트 -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div id="up_coin" class="col-sm w-50">
        </div>
        <div id="down_coin" class="col-sm w-50">
        </div>
      </div>
    </div>

    <!-- 거래소 링크 버튼 -->
    <div class="container">
      <div class="btn-group btn-group-sm gap-2" style="padding-top: 0.5rem;" role="group">
        <button type="button" class="btn btn-light btn-sm"><a href="https://upbit.com/" target="_blank"><img
              src="/img/upbit.png" alt="upbit" class=exchange-icon>업비트
            이동</a></button>
        <button type="button" class="btn btn-light btn-sm"><a href="https://www.binance.com/ko/register?ref=RZRUT876"
            target="_blank"><img src="/img/binance.png" alt="binance" class=exchange-icon>바이낸스 이동</a></button>
      </div>

      <!-- 검색 -->
      <nav class="navbar navbar-dark bg-dark" style="float: right;">
        <div class="container-md">
          <div class="d-flex">
            <input id="search_input" class="form-control me-md-auto" type="search" placeholder="검색" aria-label="Search">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
          </div>
        </div>
      </nav>
    </div>

    <!-- 코인 Symbol 목록 -->
    <div class="container">
      <div class="row">
        <p class="mb-0 mt-2">
          <a id="symbolBtnColl" class="btn btn-primary d-grid" data-bs-toggle="collapse" href="#symbolBtnList"
            role="button" aria-expanded="true" aria-controls="symbolBtnList" onclick="if(symbolBtnList.style.display=='none') 
            {symbolBtnList.style.display='';symbolBtnColl.innerText='▲코인 목록 닫기'}
             else {symbolBtnList.style.display='none';symbolBtnColl.innerText='▶코인 목록 보기'}">
            ▲코인 목록 접기
          </a>
        </p>
        <div id="symbolBtnList" class="button-container collapse show">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div id="tickerBoard" class="mt-2">
          <table class="table table-dark table-hover table-responsive-sm text-white">
            <thead>
              <tr>
                <th scope="col">코인</th>
                <th scope="col">업비트(원)</th>
                <th scope="col">바이낸스(원)</th>
                <th scope="col">바이낸스(달러)</th>
                <th scope="col">김프</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container mt-auto text-center">
      <div class="row">
        <div class="col-md-12">
          <p class="mt-auto text-secondary">Kimchi Premium<a href="#" class="text-white">Test Web</a>, by <a href="#"
              class="text-white">@개발개발</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 스크립트 시작 -->
  <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/inko@1.1.1/inko.min.js"></script>
  <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>
  <script type="text/javascript">
    var arr_krw_markets = []; // 업비트 코인 마켓 배열
    var arr_korean_name = new Map(); // 업비트 코인 한글명 배열
    var arr_binance_markets = [];
    var favorCoinList = getCookie("favorCoin").split(","); // 관심 코인 종목
    var upbitTkcer = new Map();
    var binanceTicker = new Map();
    var binanceFavor = [];

    $(document).ready(function () {
      getUpbitCoinName();
      getBinanceCoinName();
    });
    setInterval(() => {
      showRaceCoin();
    }, 1500);

    setInterval(() => {
      showTickerBoard();
    }, 1500);

    // 숫자 콤마 및 소수점 유지
    function krwComma(num) {
      if (isNaN(num)) {
        return "";
      }
      const option = {
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      }
      if (num == null) {
        return "";
      } else if (num > 100) {
        return Math.round(num).toLocaleString('ko-KR');
      }
      return num.toLocaleString('ko-KR', option);
    }

    function usdComma(num) {
      if (isNaN(num)) {
        return "";
      }
      num = parseFloat(num);
      const option1 = {
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      }
      const option2 = {
        maximumFractionDigits: 4,
        minimumFractionDigits: 4
      }
      const option3 = {
        maximumFractionDigits: 7,
        minimumFractionDigits: 7
      }
      if (num == null) {
        return "";
      } else if (num > 1000) {
        return num.toLocaleString('en-US', option1);
      } else if (num > 1) {
        return num.toLocaleString('en-US', option2);
      }
      return num.toLocaleString('en-US', option3);
    }

    // 업비트 마켓 조회
    async function getUpbitCoinName() {
      const options = {
        method: 'GET',
        dataType: "json"
      };

      fetch('https://api.upbit.com/v1/market/all?isDetails=false', options)
        .then(data => {
          data.json().then(data => {
            for (var i = 0; i < data.length; i++) {
              if (data[i].market.indexOf("KRW") > -1) {
                arr_krw_markets.push(data[i].market);
                arr_korean_name.set(data[i].market, data[i].korean_name);
              }
            }

            showSymbol();
          })
        })
        .catch(err => console.error(err));
    }

    // 바이낸스 마켓 조회
    async function getBinanceCoinName() {
      const options = {
        method: 'GET',
        dataType: "json"
      };

      fetch('https://api.binance.com/api/v3/exchangeInfo')
        .then(data => {
          data.json().then(data => {
            for (var i = 0; i < data.symbols.length; i++) {
              var temp;
              if (data.symbols[i].symbol.indexOf("USDT") > -1) {
                temp = "KRW-" + data.symbols[i].symbol.substring(0, data.symbols[i].symbol.length -
                  4);
                if (arr_krw_markets.indexOf(temp) > -1) {
                  arr_binance_markets.push(temp.substring(4, temp.length));
                }
              }
            }
          })
        })
        .catch(err => console.error(err));
    }

    // 심볼 버튼 출력
    function showSymbol() {
      var symbolHTML = "";
      arr_krw_markets.sort();
      for (let i = 0; i < arr_krw_markets.length; i++) {
        symbolHTML +=
          "<button type='button' name='symbolBtn' class='btn btn-secondary btn-sm' title='" +
          arr_korean_name.get(
            arr_krw_markets[i]) + "' onclick='favorToggle(this)' value='" +
          arr_krw_markets[i] + "'><div class=favor-text>" + arr_krw_markets[i].substring(4) +
          "</div></button>";
      }
      document.getElementById('symbolBtnList').innerHTML = symbolHTML;
      favorOn();
    }

    // 티커보드 출력
    function showTickerBoard() {
      getUpbitCoinTicker();
      getBinanceTicker();
      var tickerHTML;

      for (let i = 0; i < upbitTkcer.size; i++) {
        tickerHTML += '    <tr> ' +
          '      <th scope="row"><div style="float:left;"><img src="https://static.upbit.com/logos/' +
          favorCoinList[
            i]
          .substring(4) +
          '.png" alt="https://static.upbit.com/logos/' + favorCoinList[i].substring(4) +
          '.png" class=slogo></div><div>' + favorCoinList[i].substring(4) + '</div><div>' +
          arr_korean_name.get(favorCoinList[i]) + '</div></th> ' +
          '      <td>' + krwComma(upbitTkcer.get(favorCoinList[i])) + '</td> ' +
          '      <td>' + krwComma(binanceTicker.get(favorCoinList[i].substring(4) + "USDT") * 1.0012 *
            1115.13) +
          '</td> ' +
          '      <td>' + usdComma(binanceTicker.get(favorCoinList[i].substring(4) + "USDT")) + '</td> ' +
          '      <td>' + calKimp(upbitTkcer.get(favorCoinList[i]), binanceTicker.get(favorCoinList[i]
            .substring(4) +
            "USDT"))+'%</td> ' +
        '    </tr> ';
      }
      $('#tickerBoard > table > tbody').empty();
      $('#tickerBoard > table > tbody').html(tickerHTML);
    }

    function showRaceCoin(params) {
      var htmlUp = "";
      var htmlDown = "";
      const options = {
        method: 'GET',
        dataType: "json"
      };
      //fetch('https://dongjun.iptime.org:8443/showRaceCoin', options)
      fetch('http://localhost:8080/showRaceCoin', options)
        .then(data => {
          data.json().then(data => {
            for (let index = 0; index < data.upCoin.length; index++) {
              htmlUp += "<div class='p-3 border border bg-dark text-white'>  코인명: " + data.upCoin[index].symbol.substring(4) +
                " &nbsp; &nbsp;급등률: " + data.upCoin[index].value + "%  </div>";
            }
            $('#up_coin').html(htmlUp);

            for (let index = 0; index < data.downCoin.length; index++) {
              htmlDown += "<div class='p-3 border bg-dark text-white'>  코인명: " + data.downCoin[index].symbol.substring(4) +
                " &nbsp; &nbsp;급락률: " + data.downCoin[index].value + "%  </div>";
            }
            $('#down_coin').html(htmlDown);
          })
        })
        .catch(err => console.error(err));
    }

    function calKimp(krw, usd) {
      krw = parseFloat(krw);
      usd = parseFloat(usd);
      if (isNaN(usd)) {
        return "";
      }
      return (krw / (usd * 1.0012 * 1115.13) * 100 - 100).toFixed(2);
    }
    // 관심 코인 초기로딩 시 색 표시
    function favorOn(params) {
      var smBtns = document.getElementsByName('symbolBtn');
      for (let i = 0; i < smBtns.length; i++) {
        if (favorCoinList.indexOf(smBtns[i].value) != -1) {
          smBtns[i].className = "btn btn-primary";
        }
      };
    }

    // 심볼 관심종목 추가
    function favorToggle(btn) {
      if (containsCookie("favorCoin", btn.value)) {
        deleteCookie("favorCoin", btn.value);
        btn.className = "btn btn-secondary";
        binanceTicker.clear();
        upbitTkcer.clear();
      } else {
        appendCookie("favorCoin", btn.value, 365);
        btn.className = "btn btn-primary";
      }
      favorCoinList = getCookie("favorCoin").split(",");

      getUpbitCoinTicker();
      getBinanceTicker();
    }

    // 실시간 검색 기능
    $("#search_input").on("input", function () {
      var keyword = this.value;
      var keworden = "";
      let inko = new Inko();
      keworden = inko.ko2en(keyword);
      var target = $('button[name=symbolBtn]');
      $('button[name=symbolBtn]').css('display', 'none');

      for (let i = 0; i < target.length; i++) {

        if (target[i].title.indexOf(keyword) > -1) {
          target[i].style = ''
        } else if (target[i].value.substring(4).indexOf(keworden.toUpperCase()) > -1) {
          target[i].style = ''
        } else if (Hangul.isChoAll(keyword)) {
          var keywordDis = "";
          var tempKey = "";
          var tempT = target[i].title;
          for (let i = 0; i < tempT.length; i++) {
            keywordDis += Hangul.disassemble(tempT[i])[0];
          }
          if (keywordDis.indexOf(keyword) > -1) {
            target[i].style = ''
          }
        }
      }
      if (keyword == "" || keyword == null || keyword == undefined) {
        $('button[name=symbolBtn]').removeAttr("style");
      }
    });

    // 업비트 현재가 조회
    function getUpbitCoinTicker() {
      var favorLen = 0;
      if (favorCoinList[0] == "") {
        return;
      }
      favorLen = favorCoinList.length;
      favorCoinList.sort();
      var tickerHTML;
      const options = {
        method: 'GET',
        dataType: "json"
      };
      fetch('https://api.upbit.com/v1/ticker?markets=' + favorCoinList, options)
        .then(tickers => {
          tickers.json().then(tickers => {
            for (let i = 0; i < tickers.length; i++) {
              upbitTkcer.set(tickers[i].market, tickers[i].trade_price);
            }
          })
        }).catch(err => console.error(err));
    }

    // 바이낸스 현재가 조회
    function getBinanceTicker() {
      if (favorCoinList[0] == "") {
        return;
      }
      binanceFavor = [];
      for (let i = 0; i < favorCoinList.length; i++) {
        if (arr_binance_markets.indexOf(favorCoinList[i].substring(4)) > -1) {
          binanceFavor.push(favorCoinList[i].substring(4) + "USDT");
        }
      }
      for (let i = 0; i < binanceFavor.length; i++) {
        const options = {
          method: 'GET',
          dataType: "json"
        };
        fetch('https://api.binance.com/api/v3/ticker/price?symbol=' + binanceFavor[i], options)
          .then(tickers => {
            tickers.json().then(tickers => {
              binanceTicker.set(tickers.symbol, tickers.price);
            })
          }).catch(err => console.error(err));
      }
    }

    //비트 도미넌스 차트
    var btcDomiChart = new TradingView.widget({
      autosize: true,
      symbol: "CRYPTOCAP:BTC.D",
      interval: "D",
      timezone: "Asia/Seoul",
      theme: "dark",
      style: "1",
      locale: "kr",
      toolbar_bg: "#f1f3f6",
      enable_publishing: false,
      hide_top_toolbar: true,
      save_image: false,
      container_id: "tradingview_a9577",
    });

    //김프 차트
    var kimchiChart = new TradingView.widget({
      autosize: true,
      symbol: "(BTCKRW/(BTCUSD*USDKRW)*100)-100",
      interval: "D",
      timezone: "Asia/Seoul",
      theme: "dark",
      style: "1",
      locale: "kr",
      toolbar_bg: "#f1f3f6",
      enable_publishing: false,
      hide_top_toolbar: true,
      save_image: false,
      container_id: "tradingview_155c3",
    });
  </script>
  <!-- 스크립트 끝 -->
</body>

</html>